* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}

/* .container {
  height: 100%;
}

.container .ant-layout {
  height: 100%;
}

.form-container {
  height: 100%;
} */

/* .form-container .ant-row .form {
  margin: auto;
  border: 2px solid rgb(92, 80, 202);
  padding: 30px;
  border-radius: 25px;
} */

/* .form-container .card-wrapper,
.form-container .card-wrapper .ant-card-body {
  height: 100%;
} */

/* .card-wrapper ul li {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20px;
} */

.form-container {
  border: 1px solid #262626;
  width: 28rem;
  padding: 24px;
}

.container {
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-title {
  color: white;
  font-size: 30px;
  font-family: monospace;
  text-align: center;
}

.login-head {
  color: white;
  font-size: 16px;
  font-family: monospace;
  text-align: center;
  margin-top: 16px;
}

.form label.ant-form-item-required {
  color: white !important;
}

.form span.ant-input-affix-wrapper.ant-input-outlined {
  background-color: black;
}

span.ant-input-affix-wrapper.ant-input-outlined.ant-input-status-error {
  background-color: black;
}

#input {
  background-color: black !important;
  color: #a09f9f;
  font-size: 16px;
}

input#password {
  background-color: black !important;
  color: #262626;
}

.ant-input-outlined.ant-input-status-error:not(
    .ant-input-disabled
  ):focus-within,
.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):hover {
  background-color: black !important;
}

button.ant-btn.ant-btn-default.login-form-button {
  width: 100%;
  background-color: white;
  color: black;
  font-weight: 700;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active {
  background-color: white;
}

button.ant-btn.css-dev-only-do-not-override-mzwlov.ant-btn-default.login-form-button {
  color: black;
  font-weight: 700;
}

.forgot-password {
  color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 600;
}

.goto-signin {
  color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.ant-tooltip-open {
  color: red;
}

span.ant-input-affix-wrapper.ant-input-outlined.search-component {
  background-color: white;
}

tbody .ant-table-tbody {
  overflow-y: scroll;
  overflow-x: scroll;
  height: 500px;
}

tbody .ant-table-wrapper::-webkit-scrollbar {
  display: none;
}

.ant-spin-container .actions {
  display: flex;
  justify-content: space-between;
}
