.main_nav ul {
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .main_nav ul li {
    padding: 10px;
    list-style: none;
    transition: all 0.5s;
    width: 10rem;
    text-align: center;
  }
  
  .navManu li:hover{
    background-color: aquamarine;
    cursor: pointer;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }