.user-route-container,
.layout-wrapper {
  height: 100%;
}

.app-logo {
  color: white;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  box-shadow: rgba(196, 190, 190, 0.35) 0px 5px 15px;
  padding-inline: 10px;
}

.movie-card-wrapper {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100vh - 64px - 22px - 24px - 32px - 108px);
}

.movie-card-wrapper::-webkit-scrollbar,
.movie-form .movie-form-container::-webkit-scrollbar {
  display: none;
}

.movie-card-wrapper .movie-card {
  margin: 20px;
}

.filters-wrraper {
  width: 100%;
}

.filters-wrraper .ant-space-item {
  width: 100%;
}
.search-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 20px;

  margin-bottom: 20px;
}

.hero-image {
  width: 100%;
}

.profile-image-container {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  bottom: 80px;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 10;
}

.d-flex {
  display: flex;
}

.width-full {
  width: 100%;
}

.profile-image {
  border-radius: 10px;
}

.relative {
  position: relative;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.contain-container {
  border: 2px solid black;
  padding: 20px 10px;
}

.edit-contain {
  right: 10px;
  top: 10px;
}

.movie-form .movie-action {
  display: flex;
  justify-content: space-between;
}

.movie-form .movie-form-container {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100vh - 64px - 22px - 24px - 32px - 60px);
}
