.spiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  border-radius: 10px;
  position: fixed;
  width: 91%;
  z-index: 99;
  margin: 0;
  top: 50;
  padding: 5px;
}

.movieListContainer {
  margin-top: 60px;
}

.movieFormContainer{
  margin-top: 60px;
  text-align: -webkit-center;
}

.movie_Detail_Container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.ContentStyle {
  margin: 10px;
  height: 300px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}

.Carousel_Images {
  text-align: -webkit-center;
}

.card_meta_data {
  line-height: 25px;
}

.card {
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: hidden;
}

.card::-webkit-scrollbar {
  display: none;
}
