#root {
  height: 100vh;
}

.movie_details_container,
.movie_list_container,
.table_container,
.persion_detais_card,
.error_container {
  height: 80.8vh;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.movie_list_container::-webkit-scrollbar,
.table_container::-webkit-scrollbar {
  display: none;
}

.movie_list_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 4rem;
}

.loginForm_container {
  display: flex;
  justify-content: center;
  height: 86vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loginForm_wrapper {
  box-sizing: border-box;
  width: 44%;
  margin-top: 5%;
  border: 2px solid black;
  height: 85%;
  border-radius: 5px;
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login_title {
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: white;
  background-color: #4e3e3e;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login_form {
  margin: 4rem 5rem;
}

.top_5_movie {
  background-color: #dadfdf;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.persion_detais_card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  position: absolute;
  top: 90%;
  margin-left: 4rem;
}

.Header_container {
  color: white;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: 900;
}
@media only screen and (max-width: 600px) {
  .movie_detais_container,
  .movie_list_container,
  .table_container,
  .persion_detais_card,
  .error_container {
    height: 80vh;
  }

  .pagination {
    top: 50rem;
  }
}

@media only screen and (max-width: 400px) {
  .movie_detais_container,
  .movie_list_container,
  .table_container,
  .persion_detais_card,
  .error_container {
    height: 72.7vh;
  }

  .pagination {
    top: 36rem;
  }
}
