#root {
  height: 100vh;
}

.movie_details_container,
.movie_list_container,
.table_container,
.persion_detais_card,
.error_container {
  height: 70vh;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.error_container,
.movie_details_container {
  height: 81.2vh;
}

tr td {
  padding: 15.1px 16px !important;
}

.movie_list_container,
.loadings {
  height: 74vh !important;
  padding: 2rem;
}

.movie_list_container_1 {
  height: 74.5vh !important;
  overflow-y: scroll;
}

.table_container {
  height: 67vh !important;
}

.movie_list_container_1::-webkit-scrollbar,
.error_container::-webkit-scrollbar,
.movie_details_container::-webkit-scrollbar,
.movie_list_container::-webkit-scrollbar,
.table_container::-webkit-scrollbar {
  display: none;
}

.movie_list_wrapper {
  margin-top: 1rem;
}

.loginForm_container {
  display: flex;
  justify-content: center;
  height: 86vh;
}

.loginForm_wrapper {
  box-sizing: border-box;
  width: 44%;
  margin-top: 5%;
  border: 2px solid black;
  height: 85%;
  border-radius: 5px;
  background-color: aliceblue;
}

.login_title {
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: white;
  background-color: #4e3e3e;
}

.login_form {
  margin: 4rem 5rem;
}

.top_5_movie,
.login_title,
.loginForm_wrapper,
.loginForm_container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top_5_movie {
  background-color: #dadfdf;
  padding: 5px;
  margin: 0px;
}

.top_5_movie_container {
  border: 10px;
}

.persion_detais_card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  padding: 10px;
  text-align: start;
  background-color: #a1a6ab1a !important;
}

.Header_container {
  color: white;
  display: flex;
  justify-content: space-between;
}

.Add_Person_button {
  margin: 1rem;
}

.Add_Person_button_2 {
  display: none;
}

.person_search {
  width: 20rem;
}

.person_model_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a1a6ab1a !important;
}

.logo {
  font-size: 22px;
  font-weight: 900;
}

.main_Content_container {
  padding: 0px 50px;
}

.footer {
  align-items: center;
}

.add_movie_button {
  width: 100%;
  background-color: #a1a6ab1a !important;
}

.infiniteScroll {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .movie_detais_container,
  .movie_list_container,
  .table_container,
  .persion_detais_card,
  .error_container {
    height: 80vh;
    font-size: 10px !important;
  }

  .table_container {
    height: 61.7vh !important;
  }

  .person_model_container {
    justify-content: space-between !important;
    margin: 0px;
    padding: 10px;
  }

  .main_Content_container {
    padding: 0px 20px;
  }

  .Add_Person_button {
    margin: 0px;
  }

  .Add_Person_button {
    display: none;
  }

  .Add_Person_button_2 {
    display: block;
  }

  .person_search {
    width: 10rem;
  }

  .pagination {
    padding: 5px;
    text-align: center;
  }

  .footer {
    padding: 10px;
  }

  .movie_list_container {
    padding: 0.5rem;
  }

  .table_wrapper {
    font-size: 10px !important;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 576px) {
  .movie_detais_container,
  .movie_list_container,
  .table_container,
  .persion_detais_card,
  .error_container {
    height: 72.7vh;
    font-size: 10px !important;
  }

  .main_Content_container {
    padding: 0px 10px;
  }

  .person_search {
    width: 10rem !important;
  }

  .table_conatainer {
    height: 50vh !important;
  }

  .pagination {
    top: 36rem;
  }

  tr td {
    font-size: 10px;
    padding: 5px 10px !important;
  }

  tr th {
    font-size: 10px;
    padding: 5px 10px !important;
  }

  td button {
    text-align: center;
  }

  .movie_list_container {
    padding: 0.2rem;
  }
}
